<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    
    <display-name>OrionisCMS</display-name>
    
    <description>Roo generated OrionisCMS application</description>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
    
    <!-- Enable escaping of form submission contents -->
    <context-param>
        <param-name>defaultHtmlEscape</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
    </context-param>
    
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    
    
    
    <filter>
        <filter-name>HttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    
    
    <filter>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>HttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter-mapping>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- DWR -->
	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
    <!-- Hprose -->
	<servlet>
		<servlet-name>HproseRemoteService</servlet-name>
		<servlet-class>hprose.server.HproseServlet</servlet-class>
		<init-param>
			<param-name>class</param-name>
			<param-value>name.orionis.cms.remote.hprose.HproseRemoteService</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>HproseRemoteService</servlet-name>
		<url-pattern>/HproseRemoteService</url-pattern>
	</servlet-mapping>
    
    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- Handles Spring requests -->
    <servlet>
        <servlet-name>OrionisCMS</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/spring/webmvc-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>OrionisCMS</servlet-name>
        <url-pattern>/cms/*</url-pattern>
    </servlet-mapping>
    
    <!-- Handles Cms site requests -->
    <servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>name.orionis.cms.site.servlet.CmsDispatcherServlet</servlet-class>
		<init-param>
			<param-name>suffix</param-name>
			<param-value>.html</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
    
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <!-- Extremecomponents -->
	<context-param>
		<param-name>extremecomponentsPreferencesLocation</param-name>
		<param-value>/META-INF/spring/extremecomponents.properties</param-value>
	</context-param>
	<jsp-config>
		<taglib>
			<taglib-uri>/tld/extremecomponents</taglib-uri>
			<taglib-location>/WEB-INF/tld/extremecomponents.tld</taglib-location>
		</taglib>
	</jsp-config>
	
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/uncaughtException</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/resourceNotFound</location>
    </error-page>
</web-app>
